openapi: 3.2.0
info:
  title: AppBrilliance Transaction API
  version: '2026-09-25'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-25: 2 operation(s) read from 1 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; AppBrilliance has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 2
    pages-with-code: 0
    pages-read: 1
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-25'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://dev.appbrilliance.com/docs/moneyapi/transactions.html
servers:
- url: https://customer.api.securenet.live
tags:
- name: Transaction
paths:
  /transaction/{id}:
    get:
      operationId: get_transaction_id
      tags:
      - Transaction
      summary: The GET /transaction method will return a specific transaction, based upon the…
      description: Returns details of a specific transaction and supports various query filters.
      x-source: https://dev.appbrilliance.com/docs/moneyapi/transactions.html
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: ext_transaction_ref_id
        in: query
        required: false
        schema:
          type: string
        description: Provided as the ID of the transaction via integration.
      - name: merchant_id
        in: query
        required: false
        schema:
          type: string
        description: The merchant_id supplied at the start of the transaction.
      - name: consumer_id
        in: query
        required: false
        schema:
          type: string
        description: The consumer_id supplied at the start of the transaction.
      - name: fi_id
        in: query
        required: false
        schema:
          type: string
        description: Abbreviation code for a given financial institution.
      - name: between_start_date_created
        in: query
        required: false
        schema:
          type: string
        description: Find records after this datetime, “YYYY-MM-DD HH:MM:SS” format.
      - name: between_end_date_created
        in: query
        required: false
        schema:
          type: string
        description: Find records before this datetime, “YYYY-MM-DD HH:MM:SS” format.
      - name: records_per_page
        in: query
        required: false
        schema:
          type: integer
        description: Number of records to return per page, max 10K.
      - name: page_number
        in: query
        required: false
        schema:
          type: integer
        description: Page number of records to be returned.
      - name: order_by_field
        in: query
        required: false
        schema:
          type: string
        description: Field to sort the records by.
      - name: order_by_dir
        in: query
        required: false
        schema:
          type: string
        description: Sort direction, ASC or DESC.
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionIdResponse'
      x-evidence:
        kind: documentation
components:
  schemas:
    GetTransactionIdResponse:
      type: object
      properties:
        success:
          type: string
          description: Indicates success of the request.
        paging:
          type: object
          description: Paging information.
        paging.total_records:
          type: integer
          description: Total number of records.
        paging.records_per_page:
          type: integer
          description: Number of records per page.
        paging.page_number:
          type: integer
          description: Current page number.
        transaction:
          type: array
          description: List of transaction objects.
        transaction[].transaction_id:
          type: string
          description: Transaction identifier.
        transaction[].anchor_id:
          type: string
          description: Anchor identifier.
        transaction[].transaction_type_id:
          type: integer
          description: Transaction type identifier.
        transaction[].transaction_type_label:
          type: string
          description: Label for the transaction type.
        transaction[].client_id:
          type: string
          description: Client identifier.
        transaction[].merchant_id:
          type: string
          description: Merchant identifier.
        transaction[].consumer_id:
          type: string
          description: Consumer identifier.
        transaction[].fi_name:
          type: string
          description: Financial institution name.
        transaction[].fi_id:
          type: string
          description: Financial institution abbreviation code.
        transaction[].amount:
          type: number
          description: Transaction amount.
        transaction[].currency:
          type: string
          description: Currency code.
        transaction[].ext_transaction_ref_id:
          type: string
          description: External transaction reference ID.
        transaction[].ext_data:
          type: string
          description: Base64 encoded extra data.
        transaction[].payment_memo:
          type: string
          description: Payment memo.
        transaction[].payment_ref_id:
          type: string
          description: Payment reference ID.
        transaction[].payment_error_code:
          type: string
          description: Payment error code.
        transaction[].payee_routing_num:
          type: string
          description: Payee routing number.
        transaction[].payee_account_last_four:
          type: string
          description: Last four digits of payee account.
        transaction[].payee_label:
          type: string
          description: Label for the payee.
        transaction[].status_code_id:
          type: integer
          description: Status code identifier.
        transaction[].status_code_label:
          type: string
          description: Label for the status code.
        transaction[].consumer_ip:
          type: string
          description: IP address of the consumer.
        transaction[].consumer_agent_id:
          type: integer
          description: Consumer agent identifier.
        transaction[].consumer_agent_label:
          type: string
          description: User agent string of the consumer.
        transaction[].ref_transaction_id:
          type: string
          description: Reference transaction ID.
        transaction[].date_created:
          type: string
          description: Date and time the transaction was created.
